html,
body {
  margin: 0;
  height: 100%;
}

body {
  perspective: 1000px;
  background: linear-gradient(-1000deg, rgb(229, 124, 250) 0%, rgb(253, 251, 251) 50%, rgb(250, 246, 195) 50%, rgb(248, 240, 240) 100%);
}

.box-two {
  transform: translateZ(0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: screen;
}

.box-one {
  transform: translateZ(0) scale(0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

box-one,
.box-two {
  perspective: 1000px;
}

.box-area {
  width: 400px;
  height: 400px;
  margin: -200px 0 0 -200px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.box-two::before,
.box-two::after,
.box-one::before,
.box-one::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-background-size: 800%;
  background-size: 800%;
  background-repeat: no-repeat;
  background-position: 0 0;
  transform-origin: 50% 50% -200px;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  backface-visibility: hidden;
  background: linear-gradient(4deg, transparent, rgba(13, 44, 223, 0.849), transparent);
}
.box-two::before,
.box-one::before {
  animation-name: animate1;
}

.box-two::after,
.box-one::after {
  animation-name: animate2;
}


.box-one::before,
.box-one::after {
  background-image: url("##");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
@keyframes animate1 {
  from {
    transform: rotateY(0);
    background-position: 0 0;
  }
  to {
    transform: rotateY(-90deg);
    background-position: -400% 0;
  }
}




@keyframes animate2{
  from {
    transform: rotateY(90deg);
   background-position: 400% 0;
  }

  to {
    transform: rotateY(0);
      background-position: 0 0;
  }
